<top-menu></top-menu>
<main-menu></main-menu>
<div>
  <bt-header-demo></bt-header-demo>
</div>


<div id="main">
    <h1>{{title}}</h1>
    <nav>
        <a routerLink="/a1/dashboard" routerLinkActive="active">Dashboard</a>
        <a routerLink="/a1/heroes" routerLinkActive="active">Heroes</a>
        <a routerLink="/a1/chart" routerLinkActive="active">Chart</a>
        <a routerLink="/a1/bootstrap" routerLinkActive="active">Bootstrap</a>

    </nav>
    <router-outlet></router-outlet>
    <div>fake footer</div>
</div>    
