
<div>
  <bt-header-demo></bt-header-demo>
</div>

<hr>
<hr>

<div class="container">
 <hr>
 <div class="row" id="lineChart">          
    <alert type="info">line-chart-demo</alert>
    <div class ="col-xs-10">
     <line-chart-demo>   </line-chart-demo>     
    </div>    
 </div>

 <div class="container">
 <hr>
 <div class="row" id = "barChart">          
    <alert type="info">bar-chart-demo</alert>
    <div class ="col-xs-10">
     <bar-chart-demo>   </bar-chart-demo>     
    </div>    
 </div>

 <hr>
 <div class="row" id="radarChart">          
    <alert type="info">base-chart-demo</alert>
    <div class ="col-xs-10">
     <base-chart-demo>   </base-chart-demo>     
    </div>    
 </div>
 <hr>

 <div class="row" id = "pieChart">          
    <alert type="info">pie-chart-demo</alert>
    <div class ="col-xs-10">
     <pie-chart-demo>   </pie-chart-demo>     
    </div>    
 </div>
 <hr>

 <div class="row" id="polarAreaChart">          
    <alert type="info">doughnut-chart-demo</alert>
    <div class ="col-xs-10">
     <doughnut-chart-demo>   </doughnut-chart-demo>     
    </div>    
 </div>
 <hr>

 <div class="row" id ="doughnutChart">          
    <alert type="info">polar-area-chart-demo</alert>
    <div class ="col-xs-10">
     <polar-area-chart-demo>   </polar-area-chart-demo>     
    </div>    
 </div>
 <hr>

 <div class="row" id ="baseChart">          
    <alert type="info">radar-chart-demo</alert>
    <div class ="col-xs-10">
     <radar-chart-demo>   </radar-chart-demo>     
    </div>    
 </div>
 <hr>
 <hr>
 <hr>
</div>